.header {
    margin-top: 45px;
    margin-bottom: 117px;
}

.cover {
    margin-bottom: 162px;
}

.title {
    margin-bottom: 17px;
}

.dsc {
    margin-bottom: 52px;
}

.cover-logo {
    padding: 97px 0px;
}