* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: rgb(2, 10, 24);
    padding-left: 40px;
    padding-right: 40px;
}

.menu-link {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 16px;
}

.nav {
    display: flex;
    justify-content: center;
}

.container {
    /* padding-left: calc(50% - 573.5px);
    padding-right: calc(50% - 573.5px); */
    margin: 0 auto;
    max-width: 1147px;
}

.menu-link:hover {
    color: #3a68b8;
}

.header {
    margin-bottom: 160px;
}

.subtitle {
    color: rgb(58, 104, 184);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    max-width: 599px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}

.dsc {
    max-width: 551px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    /* #FFFFFF */
    opacity: 0.7;
    margin-bottom: 65px;
}

.main-link {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 5px;
    text-decoration: none;
    /* #3A68B8 */
    background: rgb(58, 104, 184);
    padding: 1rem 2rem;
    mask-mode: 50px;
    margin-right: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 
.main-left,
.main-right {
    width: 48%;
} */

.main {
    margin-bottom: 200px;
}

.logo {
    margin-bottom: 99px;
}

.logo-pic {
    margin-right: 32px;
}

.img-right {
    width: 100%;
}

.main-right {
    display: flex;
    justify-content: end;
}

.about__subtitle {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
    margin-bottom: 30px;
}

.about__text {

    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    margin-bottom: 65px;
}

.about-right {
    max-width: 484px;
}

.about__img {
    width: 100%;
}

/* 
.about-left,
.about-right {
    width: 42%;
} */

.about-flex {
    align-items: center;
}

.about {
    margin-bottom: 264px;
}

.item {
    width: 362px;
    border-radius: 10px;
    background: rgb(19, 32, 53);
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}

.item-img {
    margin-bottom: 30px;
}

.item-subtitle {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 30px;
    /* #FFFFFF */
    opacity: 0.7;
}

.item-dsc {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    /* #FFFFFF */
    opacity: 0.7;
}

.item4 {
    width: 754px;
    height: 808px;
    padding: 30px 30px 114px 30px;
}

.item__marging {
    margin-bottom: 60px;
}

.cards {
    margin-bottom: 257px;
}

.reviews-subtitle {
    max-width: 548px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
    margin-bottom: 40px;
}

.reviews-dsc {
    max-width: 460px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    /* #FFFFFF */
    opacity: 0.7;
    margin-bottom: 20px;
}

/* .reviews-left,
.reviews-right {
    width: 47%;
} */

.reviews-flex {
    align-items: center;
}

.reviews {
    margin-bottom: 221px;
}

.reviews-img {
    width: 100%;
}

.footer__subtitle {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.footer__subtitle__indentation {
    margin-bottom: 33px;
}

.footer__text {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    gap: 10px;
}

.footer__text__indentation {
    margin-bottom: 24px;
}

.footer__center_text {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 250;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
}

.footer {
    margin-bottom: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__img {
    display: flex;
    gap: 24px;
}

@media (max-width: 1024px) {
    .flex {
        justify-content: center;
    }

    .main-left {
        margin-bottom: 128px;
    }

    .logo {
        margin-bottom: 288px;
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .about-left {
        margin-bottom: 68px;
    }

    .about {
        margin-bottom: 264px;
    }

    .media__display-none {
        display: none;
    }

    .reviews-left {
        margin-bottom: 64px;
    }

    .media__logo-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__left {
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {
    .subtitle {
        font-size: 14px;
        text-align: center;
    }

    .title {
        font-size: 28px;
        text-align: center;
    }

    .dsc {
        text-align: center;
    }

    .main-btn {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-link__margin {
        margin-bottom: 24px;
    }

    .logo-pic {
        margin-bottom: 32px;
    }

    .about__subtitle {
        font-size: 24px;
        text-align: center;
    }

    .about__text {
        font-size: 16px;
        text-align: center;
    }

    .reviews-subtitle {
        font-size: 24px;
        text-align: center;
    }

    .reviews-dsc {
        font-size: 16px;
        text-align: center;
    }

    .footer__subtitle {
        text-align: center;
    }

    .footer__center {
        order: -1;
        margin-bottom: 32px;
    }

    .media__logo-flex {
        justify-content: center;
    }

    .menu-link {
        font-size: 14px;
        padding: 22px 8px;
    }
}