.header {
    margin-top: 45px;
    margin-bottom: 89px;
}

.content-left__title {
    margin-bottom: 17px;
}

.content-left__dsc {
    margin-bottom: 52px;
}

.content {
    margin-bottom: 162px;
}

.footer {
    padding: 97px 0px 96px;
}