@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


.list__item_new::after {
    content: ' New!';
    color: red;
}

.list__item:hover::after {
    content: ' <<';
}

.parent:hover .child {
    background-color: blue;
}

.icon:hover path {
    fill: red;
}

.button {
    display: block;
    width: 190px;
    height: 60px;
    border: 1px solid purple;
    text-align: center;
    line-height: 60px;
    color: purple;
    font-size: 20px;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: all 0.3s;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.button:hover {
    background-color: purple;
    color: white;

}