* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020a18;
}

.container {
    width: 1146px;
    margin: 0 auto;
}


.menu-link {
    text-decoration: none;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    padding: 40px 16px;
}

.nav {
    display: flex;
    justify-content: center;
}

.menu-link:hover {
    color: #3A68B8;
}

.header {
    margin-bottom: 160px;
}


.subtitle {
    color: #3A68B8;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: #FFF;
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
    margin-bottom: 40px;
}

.dsc {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
}

.main-link {
    padding: 1rem 2rem;
    background-color: #3A68B8;
    color: #FFF;
    border-radius: 5px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.main-left,
.main-right {
    width: 46%;
}

.main {
    margin-bottom: 200px;
}